<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>ララメシ - プライスレスな昼休みを！</title>

  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="dummy-header"><a href="/">ララメシ</a></div>

    <!-- contents -->
    <%= yield %>


    <!-- footer -->
    <a href="#" class="go-pagetop"><i class="fa fa-chevron-up"></i> ページTOP</a>
    <footer>
      <a href="/">HOME</a><br>
      <p class="copy">mystarLab lala-mates.</p>
    </footer>

  </div>


</body>
</html>
